body {
  font-family: "Poppins", sans-serif;
  background-color: #111;
}

.slider-section {
  background: linear-gradient(90deg, #111, #333);
  color: #fff;
  padding: 60px 0;
}

.btn {
  border-radius: 30px;
}

footer a:hover {
  opacity: 0.8;
}

.card img {
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.05);
}
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
}
